.blog-card {
  transition: 0.2s ease-in;
  &:hover {
    transform: translateY(-10px);
  }
  .date-badge {
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    span {
      display: block;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .blog-title {
    color: $dark !important;
    line-height: 22px;
    &:hover {
      color: $accent !important;
    }
  }
}
