.coming-wrapper {
  min-height: 400px;
  overflow: auto;
  background-size: cover;
  background: url("https://res.yeshen.com/appcenter/cn/2020/05/1-2-ypl.jpg") top 50% center;
  display: flex;
  align-items: center;
}

.coming-title {
  font-size: 30px;
  margin: 20px 0 15px;
}
