.v-card.card-hover {
  transition: 0.2s ease-in;
  &:hover {
    transform: scale(1.1);
  }
}

.v-card.card-hover2 {
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  }
}

.btn-hover {
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  }
}

