.coming-wrapper {
  background: url("~assets/images/landingpage/comingsoon.jpg");
  min-height: 400px;
  overflow: auto;
  background-size: cover;
  background-position: top 20% center;
  display: flex;
  align-items: center;
}

.coming-title {
  font-size: 30px;
  margin: 20px 0 15px;
}
