.contact-detail-card {
  padding: 40px;
  .detail-title {
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.contact-title {
  margin: 20px 0 15px;
  line-height: 26px;
  font-size: 21px;
}
